{% extends 'base.html' %}

{% block title %}Select Team{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h1>Select Your IPL Team</h1>
    <form method="POST">
      <div class="row row-cols-2 g-3 mt-4">
        {% for team in teams %}
        <div class="col">
          <div class="form-check card p-3 h-100">
            <input class="form-check-input" type="radio" name="team_name" id="team-{{ team }}" value="{{ team }}" required>
            <label class="form-check-label fw-bold" for="team-{{ team }}">{{ team }}</label>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mt-4">
        <button class="btn btn-primary" type="submit">Join Auction</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
